/* Smartphone */
@media (max-width: 500px){

    .header-div nav .row .logo {
        text-align: center;
        float: none;

        /* padding: 1rem 1rem 1rem 0; */
    }

    .header-div nav .row ul {
        float: none;
        display: flex;
        justify-content: space-between;

        /* color: #fff; */
    }

    .header-div nav .row ul li {
        float: left;
        padding: 0.5rem;
    }
    

    .img-button {
        height: 180px;

        /* position: relative; */
    }
    
    .img-button ul li a img {
        height: 180px;

        /* width: calc(100%/2);
        object-fit: cover;
        float: left;
        filter: saturate(20%);
        transition: filter 1s;
        position: relative; */
    }
    
    .img-button ul li a .img-button-deskbed-p {
        width: calc(100%/2.5);
        font-size: 1rem;

        /* position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 1.5rem;
        text-shadow: 0.25rem 0.25rem 0.25rem #000; */
    }
    
    .img-button ul li a .img-button-pendant-p {
        font-size: 1rem;
        
        /* position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 1.5rem;
        text-shadow: 0.25rem 0.25rem 0.25rem #000; */
    }





    .product-showcase .img-row ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        /* justify-content: space-evenly; */
    }

    .product-showcase .img-row ul li figure .img-div {
        height: 100px;
        width: 100px;
        overflow: hidden;
        border-radius: 3px;
    }
    
    .product-showcase .img-row ul li figure .img-div img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        cursor: pointer;
        transform: scale(1.1);
        transition: all 0.7s;
    }

    #desk-bed {
        height: 900px;

        position: relative;
        background-color: #191919;
        /* height: 700px; */
    }
    
    #pendant {
        height: 900px;

        position: relative;
        background-color: #323232;
        /* height: 800px; */
    }




    .business .img-row ul {
        /* display: flex; */
        /* justify-content: space-evenly; */
        flex-wrap: wrap;
    }

    .business .img-row ul li figure img {
        height: calc(230px/1.5);
        width: calc(425px/1.5);
        /* object-fit: cover;
        box-shadow: 0.25rem 0.25rem 0.5rem #323232;
        border: solid 5px #fff;
        margin: 15px 0; */
    }

    .contact {
        display: none;
    }
}

/* Tablet */
@media (min-width: 501px) and (max-width: 768px){
}

/* Normal */
@media (min-width: 769px) and (max-width: 1200px){
}

@media (min-width: 1201px){
}

/* Landscape */
@media (max-height: 1024px){
}