/* Smartphone */
@media (max-width: 500px){

    .header-div nav .row .logo {
        text-align: center;
        float: none;
    }

    .header-div nav .row ul {
        float: none;
        display: flex;
        justify-content: space-between;
    }

    .header-div nav .row ul li {
        float: left;
        padding: 0.5rem;
    }    

    .img-button {
        height: 180px;
    }
    
    .img-button ul li a img {
        height: 180px;
    }
    
    .img-button ul li a .img-button-deskbed-p {
        width: calc(100% / 2.5);
        text-align: center;
        font-size: 1.2rem;
    }
    
    .img-button ul li a .img-button-pendant-p {
        font-size: 1.2rem;
    }




    .product-showcase .img-row ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-showcase .img-row ul li figure {
        margin: 20px;
        color: #fff;
    }

    .product-showcase .img-row ul li figure .img-div {
        height: 100px;
        width: 100px;
        overflow: hidden;
        border-radius: 3px;
    }
    
    .product-showcase .img-row ul li figure .img-div img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        cursor: pointer;
        transform: scale(1.1);
        transition: all 0.7s;
    }



    #business {
        position: relative;
        background-color: #4c4c4c;
        height: 1450px;
    }

    .business {
        height: 95%;
    }

    .business .description {
        float: block;
        width: 100%;
        padding: 0 0 0 8px;
        height: 30%;
        justify-content: center;

        /* border: 1px solid red; */
    }
    
    .business .img-row  {
        float: block;
        width: 100%;
    }
    

    .business .img-row ul {
        flex-wrap: wrap;
    }

    .business .img-row ul li figure img {
        height: calc(230px / 1.5);
        width: calc(425px / 1.5);
    }



    .contact .form-field{
        width: 95%;
    }


    

    footer {
        height: 220px;
    }

    .footer {
        width: 100%;
        display: inline-block;
    }

    .footer .footer-list {
        padding: 15px 0;
        height: 80%;
        width: 100%;
        float: none;
        display: inline-block;
    }

    .footer .social-media {
        justify-content: center;
        height: 20%;
        float: none;
        padding: 0;
        border-left: none;
    }

}

/* Tablet */
@media (min-width: 501px) and (max-width: 768px){

    .product-showcase .img-row ul li figure {
        margin: 20px 10px;
    }



    #business {
        height: 850px;
    }

    .business {
        height: 95%;
    }

    .business .description {
        float: block;
        width: 100%;
        padding: 0 0 0 8px;
        height: 30%;
    }
    
    .business .img-row  {
        float: block;
        width: 100%;
    }




    .business .img-row ul li figure img {
        height: calc(230px / 1.25);
        width: calc(425px / 1.25);
    }



    .contact .form-field{
        width: 80%;
    }



    .footer {
        width: 85%;
    }    
    
}

/* Normal */
@media (min-width: 769px) and (max-width: 1200px){

    #business {
        height: 900px;
    }

    .business {
        height: 95%;
    }

    .business .description {
        float: block;
        width: 100%;
        padding: 0;
        height: 20%;
        padding: 25px 0;
    }
    
    .business .img-row  {
        float: block;
        width: 100%;
    }


    .contact .form-field{
        width: 55%;
    }



    .footer {
        width: 65%;
    }

}

@media (min-width: 1201px) and (max-width: 1440px) {

    .img-button ul li a .img-button-deskbed-p {
        font-size: 2rem;
    }
    
    .img-button ul li a .img-button-pendant-p {
        font-size: 2rem;
    }
}


@media (min-width: 1441px){

    .img-button ul li a .img-button-deskbed-p {
        font-size: 2.5rem;
    }
    
    .img-button ul li a .img-button-pendant-p {
        font-size: 2.5rem;
    }

    .product-showcase .img-row ul {
        grid-template-columns: repeat(5, 1fr);
    }

}