* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.row {
    width: 95%;
    margin: auto;
}

.clr {
    clear: both;
}



/* header */
.header-div {
    background: url("../img/background.jpg") no-repeat center center/cover;
    height: 450px;
    max-width: 100%;
    position: relative;
    z-index: 0;
    font-family: 'Raleway', sans-serif;
}

.header-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 450px;
    width: 100%;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.header-div nav .row .logo {
    float: left;
    padding: 1rem 1rem 1rem 0;
}

.header-div nav .row .logo a {
    color: transparent;
    -webkit-text-stroke: 0.15px #fff;
}

.header-div nav .row ul {
    float: right;
    color: #fff;
}

.header-div nav .row ul li {
    float: left;
    padding: 1rem;
}

.header-div nav .row ul li i {
    cursor: pointer;
}

.header-div nav .row ul li a {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.07em;
}

.header-div .hero h1 {
    text-align: center;
    color: #fff;
    margin: 15px 0;
    font-size: 3rem;
}

.header-div .hero h1 .light{
    font-size: 6rem;
    color: #fff;
    text-shadow: 0 0.3rem 1rem #ffff61;
}

.header-div .hero h1 .darkness{
    color: #000;
    text-shadow: 0 0.25rem 0.2rem #323232;
    /* text-shadow: 0.25rem 0.25rem 0.2rem #323232; */
}

.header-div .hero h1 .love{
    /* color: #ca0065; */
    color: #fdf5f5;
    text-shadow: 0 0.25rem 0.4rem #ff66b2;
}

.img-button {
    height: 250px;
    position: relative;
}

.img-button ul li a img {
    height: 250px;
    width: calc(100%/2);
    object-fit: cover;
    float: left;
    filter: saturate(20%);
    transition: filter 1s;
    position: relative;
}

.img-button ul li a .img-button-deskbed-p {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 0.25rem 0.25rem 0.25rem #000;
}

.img-button ul li a .img-button-pendant-p {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 0.25rem 0.25rem 0.25rem #000;
}

.img-button ul li img:hover {
    filter: saturate(100%);
}



/* product-showcase */
.product-showcase {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-showcase .title {
    color: #fff;
    letter-spacing: 0.1em;
}

.product-showcase .img-row ul {
    display: flex;
    justify-content: space-evenly;
}

.product-showcase .img-row ul li {
    float: left;
}

.product-showcase .img-row ul li figure {
    margin: 20px;
    color: #fff;
}

.product-showcase .img-row ul li figure .img-div {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 3px;
}

.product-showcase .img-row ul li figure .img-div img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.7s;
}

.product-showcase .img-row ul li figure .img-div img:hover {
    transform: scale(1);
    /* filter: brightness(1.2); */
    transition: all 0.7s;
}

.product-showcase .img-row ul li figure figcaption {
    margin-top: 10px;
}

.view-more-button {
    color: #fff;
    font-size: 1.25rem;
    border-top: solid 2px #fff;
    border-bottom: solid 2px #fff;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    height: 50px;
    width: 125px;
    cursor: pointer;
    transition: all 0.5s;
}

.view-more-button:hover {
    border-top: solid 2px #ffff8f;
    border-bottom: solid 2px #ffff8f;
    text-shadow: 0 0.3rem 1rem #ffff61;
}




/* product-showcase indivisual values setting */
#desk-bed {
    position: relative;
    background-color: #191919;
    height: 700px;
}

#pendant {
    position: relative;
    background-color: #323232;
    /* background: url(../img/background-pendant.jpg) no-repeat center center/cover; */
    height: 700px;
    z-index: 0;
}




/* business */
#business {
    position: relative;
    background-color: #4c4c4c;
    height: 650px;
}

.business {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.business .title-business {
    color: #fff;
    letter-spacing: 0.1em;
}

.business .img-row ul {
    display: flex;
    justify-content: space-evenly;
}

.business .img-row ul li {
    float: left;
}

.business .img-row ul li figure img {
    height: 230px;
    width: 425px;
    object-fit: cover;
    box-shadow: 0.25rem 0.25rem 0.5rem #323232;
    border: solid 5px #fff;
    margin: 15px 0;
}




/* contact */
#contact {
    position: relative;
    background: url(../img/background-contact.jpg) no-repeat center center/cover;
    height: 500px;
    width: 100%;
    z-index: 0;
}

#contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.contact {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact .title {
    color: #fff;
    letter-spacing: 0.1em;
}

.contact .form-field{
    height: 350px;
    width: 50%;
    margin: auto;
}

.contact .form-field form input{
    display: block;
    width: 500px;
    height: 50px;
    color: #fff;
    font-size: 1rem;
    border-top: none;
    border-bottom: solid 2px #fff;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    margin: 20px auto;
    padding-top: 15px;
    padding-left: 5px;
    font-family: 'Poppins', sans-serif;
}

.contact .form-field form input::placeholder{
    color: #b6b5b5b7;
}

.contact .form-field form select{
    display: block;
    width: 500px;
    height: 50px;
    color: #fff;
    font-size: 1rem;
    border-top: none;
    border-bottom: solid 2px #fff;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    margin: 20px auto;
    padding-top: 15px;
    font-family: 'Poppins', sans-serif;
}

.contact .form-field form select option{
    color: #fff;
    background-color: #191919
}

.contact .form-field form textarea{
    display: block;
    width: 500px;
    height: 150px;
    outline: none;
    background-color: #fff;
    padding: 5px 4px;
    resize: none;
    font-size: 1rem;
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
}

.contact .form-field form textarea::placeholder{
    font-family: 'Poppins', sans-serif;
}




/* footer */
footer {
    background-color: #191919;
    width: 100%;
    position: relative;
    height: 80px;
}

.footer {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    display: flex;
}

.footer .footer-list a {
    color: #fff;
    margin: 20px 0;
}